.dark-medium-contrast {
  --md-sys-color-primary: rgb(214 192 255);
  --md-sys-color-surface-tint: rgb(211 187 255);
  --md-sys-color-on-primary: rgb(31 0 76);
  --md-sys-color-primary-container: rgb(160 134 211);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(211 197 232);
  --md-sys-color-on-secondary: rgb(26 17 43);
  --md-sys-color-secondary-container: rgb(151 139 172);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 182 215);
  --md-sys-color-on-tertiary: rgb(51 0 32);
  --md-sys-color-tertiary-container: rgb(206 122 164);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 23);
  --md-sys-color-on-background: rgb(231 225 231);
  --md-sys-color-surface: rgb(20 18 23);
  --md-sys-color-on-surface: rgb(255 249 255);
  --md-sys-color-surface-variant: rgb(73 69 80);
  --md-sys-color-on-surface-variant: rgb(207 200 213);
  --md-sys-color-outline: rgb(167 160 173);
  --md-sys-color-outline-variant: rgb(135 129 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 231);
  --md-sys-color-inverse-on-surface: rgb(43 41 46);
  --md-sys-color-inverse-primary: rgb(82 58 129);
  --md-sys-color-primary-fixed: rgb(235 221 255);
  --md-sys-color-on-primary-fixed: rgb(24 0 63);
  --md-sys-color-primary-fixed-dim: rgb(211 187 255);
  --md-sys-color-on-primary-fixed-variant: rgb(64 40 109);
  --md-sys-color-secondary-fixed: rgb(235 221 255);
  --md-sys-color-on-secondary-fixed: rgb(21 12 38);
  --md-sys-color-secondary-fixed-dim: rgb(206 193 228);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 49 77);
  --md-sys-color-tertiary-fixed: rgb(255 216 232);
  --md-sys-color-on-tertiary-fixed: rgb(42 0 26);
  --md-sys-color-tertiary-fixed-dim: rgb(255 175 212);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 29 67);
  --md-sys-color-surface-dim: rgb(20 18 23);
  --md-sys-color-surface-bright: rgb(59 56 61);
  --md-sys-color-surface-container-lowest: rgb(15 13 18);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 46);
  --md-sys-color-surface-container-highest: rgb(54 52 57);
}
