.dark-high-contrast {
  --md-sys-color-primary: rgb(255 249 255);
  --md-sys-color-surface-tint: rgb(211 187 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(214 192 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(211 197 232);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 182 215);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 23);
  --md-sys-color-on-background: rgb(231 225 231);
  --md-sys-color-surface: rgb(20 18 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 80);
  --md-sys-color-on-surface-variant: rgb(255 249 255);
  --md-sys-color-outline: rgb(207 200 213);
  --md-sys-color-outline-variant: rgb(207 200 213);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(51 26 96);
  --md-sys-color-primary-fixed: rgb(238 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(214 192 255);
  --md-sys-color-on-primary-fixed-variant: rgb(31 0 76);
  --md-sys-color-secondary-fixed: rgb(238 226 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(211 197 232);
  --md-sys-color-on-secondary-fixed-variant: rgb(26 17 43);
  --md-sys-color-tertiary-fixed: rgb(255 222 235);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 182 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 0 32);
  --md-sys-color-surface-dim: rgb(20 18 23);
  --md-sys-color-surface-bright: rgb(59 56 61);
  --md-sys-color-surface-container-lowest: rgb(15 13 18);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 46);
  --md-sys-color-surface-container-highest: rgb(54 52 57);
}
