.dark {
  --md-sys-color-primary: rgb(211 187 255);
  --md-sys-color-surface-tint: rgb(211 187 255);
  --md-sys-color-on-primary: rgb(58 33 103);
  --md-sys-color-primary-container: rgb(160 134 211);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(206 193 228);
  --md-sys-color-on-secondary: rgb(53 44 71);
  --md-sys-color-secondary-container: rgb(67 57 85);
  --md-sys-color-on-secondary-container: rgb(218 204 239);
  --md-sys-color-tertiary: rgb(255 175 212);
  --md-sys-color-on-tertiary: rgb(87 23 61);
  --md-sys-color-tertiary-container: rgb(206 122 164);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 18 23);
  --md-sys-color-on-background: rgb(231 225 231);
  --md-sys-color-surface: rgb(20 18 23);
  --md-sys-color-on-surface: rgb(231 225 231);
  --md-sys-color-surface-variant: rgb(73 69 80);
  --md-sys-color-on-surface-variant: rgb(203 196 209);
  --md-sys-color-outline: rgb(149 142 155);
  --md-sys-color-outline-variant: rgb(73 69 80);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(231 225 231);
  --md-sys-color-inverse-on-surface: rgb(50 47 53);
  --md-sys-color-inverse-primary: rgb(105 81 153);
  --md-sys-color-primary-fixed: rgb(235 221 255);
  --md-sys-color-on-primary-fixed: rgb(36 7 82);
  --md-sys-color-primary-fixed-dim: rgb(211 187 255);
  --md-sys-color-on-primary-fixed-variant: rgb(81 57 127);
  --md-sys-color-secondary-fixed: rgb(235 221 255);
  --md-sys-color-on-secondary-fixed: rgb(32 23 49);
  --md-sys-color-secondary-fixed-dim: rgb(206 193 228);
  --md-sys-color-on-secondary-fixed-variant: rgb(76 66 95);
  --md-sys-color-tertiary-fixed: rgb(255 216 232);
  --md-sys-color-on-tertiary-fixed: rgb(61 0 39);
  --md-sys-color-tertiary-fixed-dim: rgb(255 175 212);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 46 84);
  --md-sys-color-surface-dim: rgb(20 18 23);
  --md-sys-color-surface-bright: rgb(59 56 61);
  --md-sys-color-surface-container-lowest: rgb(15 13 18);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 46);
  --md-sys-color-surface-container-highest: rgb(54 52 57);
}
