.light {
  --md-sys-color-primary: rgb(105 81 153);
  --md-sys-color-surface-tint: rgb(105 81 153);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(180 153 231);
  --md-sys-color-on-primary-container: rgb(37 7 82);
  --md-sys-color-secondary: rgb(100 89 120);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(236 223 255);
  --md-sys-color-on-secondary-container: rgb(78 68 97);
  --md-sys-color-tertiary: rgb(143 69 108);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(227 140 183);
  --md-sys-color-on-tertiary-container: rgb(61 1 39);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(254 247 254);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 254);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(232 224 237);
  --md-sys-color-on-surface-variant: rgb(73 69 80);
  --md-sys-color-outline: rgb(122 117 129);
  --md-sys-color-outline-variant: rgb(203 196 209);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 246);
  --md-sys-color-inverse-primary: rgb(211 187 255);
  --md-sys-color-primary-fixed: rgb(235 221 255);
  --md-sys-color-on-primary-fixed: rgb(36 7 82);
  --md-sys-color-primary-fixed-dim: rgb(211 187 255);
  --md-sys-color-on-primary-fixed-variant: rgb(81 57 127);
  --md-sys-color-secondary-fixed: rgb(235 221 255);
  --md-sys-color-on-secondary-fixed: rgb(32 23 49);
  --md-sys-color-secondary-fixed-dim: rgb(206 193 228);
  --md-sys-color-on-secondary-fixed-variant: rgb(76 66 95);
  --md-sys-color-tertiary-fixed: rgb(255 216 232);
  --md-sys-color-on-tertiary-fixed: rgb(61 0 39);
  --md-sys-color-tertiary-fixed-dim: rgb(255 175 212);
  --md-sys-color-on-tertiary-fixed-variant: rgb(115 46 84);
  --md-sys-color-surface-dim: rgb(222 216 223);
  --md-sys-color-surface-bright: rgb(254 247 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 249);
  --md-sys-color-surface-container: rgb(242 236 243);
  --md-sys-color-surface-container-high: rgb(236 230 237);
  --md-sys-color-surface-container-highest: rgb(231 225 231);
}
